
        .slice {
            cursor: pointer;
        }
        .legend{
            text-align: center;
            background-color: #ffffff0d;
            width: 100%;
            display: flex;
            padding: 5px 10px;
            justify-content: space-between;
            height: 32px;
            position: relative;
            margin-bottom: 5px;
            border-radius: 5px;
            cursor: pointer;
        }
        .l_name{
            width: fit-content;
            padding: 0px 10px;
            pointer-events: none;
        }
        .l_Color{
            width: 13px;
            height: 13px;
            margin-top: 4.5px;
            border-radius: 55px;
            border: 2px solid #ffffffb8;
            pointer-events: none;
        }
        .li-item-hover{
            background-color: #ffffff26;
            transition: 0.5s;
        }
        .main-archover{
            fill: rgb(255, 0, 0);
        }
        .set{
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0px;
            margin: auto;
            height: fit-content;
        }
    