
        .slice {
            cursor: pointer;
        }
        .legend{
            text-align: center;
            background-color: #ffffff0d;
            width: 100%;
            display: flex;
            padding: 5px 10px;
            justify-content: space-between;
            height: 32px;
            position: relative;
            margin-bottom: 5px;
            border-radius: 5px;
            cursor: pointer;
        }
        .l_name{
            width: fit-content;
            padding: 0px 10px;
            pointer-events: none;
        }
        .l_Color{
            width: 13px;
            height: 13px;
            margin-top: 4.5px;
            border-radius: 55px;
            border: 2px solid #ffffffb8;
            pointer-events: none;
        }
        .main-archover{
            fill: rgb(255, 0, 0);
        }
        .set{
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0px;
            margin: auto;
            height: fit-content;
        }
        .legend:hover, .li-item-hover{
            background-color: #ffffff26;
            border: 1px solid #419fe461;
            transition: 0.5s;
        }
        .main-arc{
            animation: 1.5s draw linear forwards;
        }
        @keyframes draw {
            0% {
                stroke-width: 5px;
            stroke: #201f1f;
            stroke-dashoffset: 100%;
            stroke-dasharray: 200%;
            }
            100% {
                stroke-width: 0px;
            stroke: #201f1f;
            stroke-dashoffset: 0%;
            stroke-dasharray: 0%;
            }
          }