.node circle {
    /* fill: #fff; */
  /*   stroke: steelblue; */
    stroke-width: 4px;
    fill: #419fe4;
    stroke: #419fe424;
  }
  .active{
    stroke: green !important;
  }
  .activea{
    stroke-width: 4px;
    fill: #419fe4;
    stroke: #419fe424;
  }
  /* .fstyle{
    transform: translate(1px, -10px);
  } */
  .node text {
    fill: lightsteelblue;
    font-size: 6px;
    font-family: 'Roboto-Light';
  }
  .first{
    overflow: hidden !important;
    text-overflow:ellipsis !important;
    display: block;
    white-space: nowrap;
  }
  .link {
    fill: none;
    stroke: #419fe4;
    animation: pathcolors 2000ms ease-in-out infinite;
}
.highlight{
  stroke: green !important;
  stroke-width: 2;
  transition: 0.5s !important;
  /* fill: rgba(0, 128, 0, 0.26) !important; */
}
/* 
  @keyframes pathcolors {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.3;
    }
    75% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
  }
   */
   /* nai line nathi dekhati  batav ne ee*/