.chart {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.active--link{
    color: red;
}
.active--author{
    color: yellow;
}
.link {
  /* fill: gray; */
  stroke: #363636;
  stroke-width: 1px;
}
#arrow {
  stroke: #999;
  fill: #999;
}
.hoverauthor{
  r: 10px
}
/* 
.circle {
  cursor: grab;
} */
.author{
    fill: #ea2e49;
}
/* .link{
    fill: #77c4d3;
} */
.node {
    stroke-width: 1px;
}
.node--link{
    fill: rgba(0, 174, 255, 0);
}
.node--author{
    fill: rgb(0, 255, 170);
}
.image {
  border: 1px solid white;
}
.rtext{
  fill: white;
}
.testtext{
  fill: grey;
  width: 10px;
  height: 10px;
}
.title {
  font-size: 3vw;
  font-weight: bold;
  fill: grey;
}
.text {
    font-size: 14px;
    font-weight: bold;
    fill: grey;
  }
  .color {
    stroke: grey;
    stroke-width: 2px;
  }
  .author-color {
    fill: #ea2e49;
  }
  domain-color {
    fill: #77c4d3;
  }

.tooltip {
  position: absolute;
  border-radius: 5px;
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
  padding: 4px;
  background: rgba(0,0,0, 0.8);
  font-weight: bold;
  pointer-events: none;
  text-align: center;
}